body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;

    transition: 0.2s;

    box-shadow: 0 2px 6px rgba(0,0,0,0.08)
}

button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

#taskInput {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    box-sizing: border-box;
}

li:hover {
    transform: translateY(-2px);
}

.task-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-title {
    font-weight: bold;
}

.task-due {
    color: gray;
    font-size: 14px;
    margin-top: 4px;
}

li button {
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 18px;
}

li button:hover {
    transform: scale(1.2);
}

li input[type="checkbox"] {
    width: auto;
    margin: 0;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

#modal {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);

    justify-content: center;
    align-items: center;
}

#modal.hidden {
    display: none;
}

#modal:not(.hidden) {
    display: flex;
}

#modalContent {
    background: white;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
}